@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	/* Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.no-scrollbar {
		-ms-overflow-style: none;
		/* IE and Edge */
		scrollbar-width: none;
		/* Firefox */
	}

	main * {
		overflow-anchor: none;
	}
	  
	#scroll-anchor {
		overflow-anchor: auto;
		height: 1px;
	}

	.custom-shape-divider-top-1723660277 {
		position: absolute;
		top: 56px;
		left: 0;
		width: 100%;
		overflow: hidden;
		line-height: 0;
	}
	
	.custom-shape-divider-top-1723660277 svg {
		position: relative;
		display: block;
		width: calc(150% + 1.3px);
		height: 100px;
	}

	.calculated-left-margin {
		margin-left: calc(0.2721 * 100vw - 89.8058px);
	}

	.user-message-shadow {
		-webkit-box-shadow: 10px 10px 34px -23px rgba(0,0,0,0.75);
		-moz-box-shadow: 10px 10px 34px -23px rgba(0,0,0,0.75);
		box-shadow: 10px 10px 34px -23px rgba(0,0,0,0.75);
	}

	.ai-message-shadow {
		-webkit-box-shadow: -10px 10px 34px -23px rgba(0,0,0,0.75);
		-moz-box-shadow: -10px 10px 34px -23px rgba(0,0,0,0.75);
		box-shadow: -10px 10px 34px -23px rgba(0,0,0,0.75);
	}
}
